<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>About | CMS</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/custom.css}"/>

</head>

<body>

<div class="container">

    <h3>CMS - Contract Management System</h3>
    <hr>
    <h4>About</h4>
    <hr>
    <h5 class="button-center">Welcome to CMS</h5>
    <ul class="list-group list-group-flush">
        <li class="media">
            <img th:src="@{/static/svg/terminal.svg}" alt="software icon" class="icon">
            <div class="media-body">
                <h5 class="mt-0 mb-1">Software</h5>
                Main purpose of this application is to manage contract for maintenance of IT systems much easier than
                before. Technology stack: Java 8, Spring MVC, Hibernate, Thymeleaf, Bootstrap.
            </div>
        </li>
        <li class="media my-4">
            <img th:src="@{/static/svg/person.svg}" alt="author icon" class="icon">
            <div class="media-body">
                <h5 class="mt-0 mb-1">Author</h5>
                Here I am. 10 years of hard-core experience in world-wide e-commerce industry :).
                Self-taught programmer since 3 years. Plus more than one year of learning & freelancing in Java.
            </div>
        </li>
        <li class="media">
            <img th:src="@{/static/svg/phone.svg}" alt="contact icon" class="icon">
            <div class="media-body">
                <h5 class="mt-0 mb-1">Contact</h5>
                Your feedback is very welcome! Please contact me at: <b> [at] gmail [dot] com</b>
            </div>
        </li>
    </ul>
    <div class="button-center">
        <a th:href="@{/list}" class="btn btn-secondary btn-lg">Back to the app</a>
    </div>

</div>
</body>
</html>



