<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Datatable | CMS</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"/>
    <script th:src="@{static/js/jquery.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/datatables.min.css}">
    <script th:src="@{/static/js/datatables.min.js}"></script>
    <script th:src="@{/static/js/datatable.js}"></script>
</head>

<body>

<div class="container-fluid">

    <h3>CMS - Contract Management System</h3>
    <hr>
    <h4>Datatable</h4>
    <hr>
    <div>
        <!-- ADD BUTTON -->
        <a th:href="@{/showAddForm}" class="btn btn-primary btn-sm mb-3">New contract</a>
        <!-- ALL CONTRACTS BUTTON -->
        <a th:href="@{/list}" class="btn btn-secondary btn-sm mb-3">All contracts</a>
        <!-- ACTIVE ONLY BUTTON -->
        <a th:href="@{/listActive}" class="btn btn-secondary btn-sm mb-3">Active only</a>
        <!-- SOFTWARE LIST BUTTON -->
        <a th:href="@{/systems}" class="btn btn-secondary btn-sm mb-3">System list</a>
        <!-- ABOUT BUTTON -->
        <a th:href="@{/about}" class="btn btn-secondary btn-sm mb-3">About</a>
            <!-- TABLE -->
            <table id="contractTable" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Record ID</th>
                    <th>Contract number</th>
                    <th>System name</th>
                    <th>Income (PLN)</th>
                    <th>Income range</th>
                    <th>Enabled</th>
                </tr>
                </thead>
            </table>
        </div>
</body>
</html>



