<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Contract list | IT-SMS</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"/>
</head>

<body>

<div class="container-fluid">

    <h3>IT-Systems Maintenance Software</h3>
    <hr>
    <h4>Table of contracts</h4>
    <hr>
    <!-- ADD BUTTON -->
    <a th:href="@{/showAddForm}" class="btn btn-primary btn-sm mb-3">New contract</a>
    <!-- ALL CONTRACTS BUTTON -->
    <a th:href="@{/list}" class="btn btn-secondary btn-sm mb-3">All contracts</a>
    <!-- ACTIVE ONLY BUTTON -->
    <a th:href="@{/listActive}" class="btn btn-secondary btn-sm mb-3">Active only</a>
    <!-- SOFTWARE LIST BUTTON -->
    <a th:href="@{/systems}" class="btn btn-secondary btn-sm mb-3">System list</a>
    <!-- ABOUT BUTTON -->
    <a th:href="@{/about}" class="btn btn-secondary btn-sm mb-3">About</a>
    <!-- TABLE -->
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Record ID</th>
            <th>Contract number</th>
            <th>System name</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Income (PLN)</th>
            <th>Income range</th>
            <th>Enabled</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempContract : ${contracts}">

            <td th:text="${tempContract?.id}"/>
            <td th:text="${tempContract?.contractNumber}"/>
            <td th:text="${tempContract?.software?.name}"/>
            <td th:text="${tempContract?.startDate}"/>
            <td th:text="${tempContract?.endDate}"/>
            <td th:text="${tempContract?.income}"/>
            <td th:text="${tempContract?.range}"/>
            <td th:text="${tempContract?.enabled}"/>
            <td>
                <a th:href="@{/showUpdateForm(id=${tempContract.id})}"
                class="btn btn-info btn-sm">
                Update
                </a>
                <a th:href="@{/disable(id=${tempContract.id})}"
                   class="btn btn-info btn-sm" onclick="if (!(confirm('Disable for sure?'))) return false" >
                    Disable
                </a>
                <a th:href="@{/systemDetails(id=${tempContract.id})}"
                   class="btn btn-outline-info btn-sm" >
                    Details
                </a>
                <a th:href="@{/delete(id=${tempContract.id})}"
                class="btn btn-danger btn-sm" onclick="if (!(confirm('Delete for sure?'))) return false" >
                Delete
                </a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>



